
/* work sans font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* body margin & padding */

*{
    box-sizing: border-box;
}

/* shared styles */

.display-flex{
    display: flex;
}

.bg-color-primary{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: #FFF;
    border-radius: 8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
}

.navbar,
.banner,
.features-container,
.facts,
.sponsor,
.love-joy,
.footer
{
    max-width: 1440px;
    margin: 0 auto;
}

.dark-1-text{
    color: #131313;
}

.dark-2-text{
    color: #424242;
}

.dark-3-text{
    color: #727272;
}

/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-links li{
    margin-left: 40px;
    list-style: none;
}

.nav-links li > a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

/* banner styles */

.banner-content{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-desciption{
    font-size: 1rem;
}

.banner-image{
    width: 100%;
    padding-bottom: 45px;
}

/* features section styles */

.features-container{
    align-items: center;
    gap: 70px;
    padding: 80px;
}

.features-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.features-images{
    width: 100%;
}

.features-content{
    max-width: 535px;
}

.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.features-description{
    font-size: 1rem;
}

.Quick-list{
    font-weight: 400;
}

.Features{
    color: #FF900E;
}

/* love & joy section styles */

.love-joy{
    align-items: center;
    padding: 50px 0px;
    gap: 146px;
}

.love-container{
    max-width: 586px;
}

.love-title{
    font-weight: 700;
    font-size: 2.8rem;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.love-description{
    font-size: 1rem;
}

.love-card{
    box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-top: 20px;
    border-radius: 18px;
}

.love-card > h3{
    font-weight: 600;
    font-size: 1.25rem;
}

.love-card > p{
    font-size: 1rem;
}

.joy-image img{
    width: 100%;
}

#xp-btn{
    padding: 45px 42px;
    margin-top: -110px;
    margin-left: -88px;
}

#xp-btn > h2{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

#xp-btn > h4{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}


/* some facts section */

.facts{
    padding: 100px 0px;
}

.facts-title{
    font-weight: 700;
    font-size: 2.8rem;
    margin: 0;
}

.facts-description{
    font-size: 1rem;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 125px;
    padding: 40px;
}

.fact-content{
    text-align: center;
    border: 1px solid tomato;
    border-radius: 8px;
    padding: 45px 35px;
}

.fact-content > h3{
    font-weight: 600;
    font-size: 2.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fact-content > h5{
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}

/* sponsors section styles */

.sponsor{
    text-align: center;
    padding-bottom: 130px;
}

.sponsor-title{
    font-weight: 700;
    font-size: 2.8rem;
}

.sponsor-description{
    font-size: 1rem;
}

.sponsors-container{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.sponsors-container > img{
    filter: grayscale(100%);
}

/* footer styles */

.footer{
    text-align: center;
    padding-top: 130px;
    padding-bottom: 216px;
}

.footer h5{
    padding: 38px 410px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 1.2rem;
}

/* responsive for small devices */

@media screen and (max-width: 576px) {

    /* shared */

    .btn-primary{
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 15px;
    }

    /* navbar */

    .navbar{
        flex-direction: column;
    }

    .nav-links li{
        margin: 10px 15px;
    }

    .nav-links{
        padding: 0;
        margin-top: 5px;
    }

    .nav-title{
        margin-bottom: 2px;
    }

    /* banner */

    .banner-title{
        font-size: 2rem;
    }

    .banner-desciption{
        font-size: 0.8rem;
        padding: 0px 20px;
    }

    .banner-image{
        padding: 10px;
    }

    /* features */

    .features-container{
        flex-direction: column;
        padding: 50px;
        gap: 10px;
    }

    .features-image-container{
        gap: 10px;
    }

    .features-title{
        font-size: 2rem;
    }

    /* experience */

    .love-joy{
        flex-direction: column-reverse;
        padding: 0px 25px;
        gap: 0px;
    }

    #xp-btn{
    padding: 15px 12px;
    margin-top: -50px;
    margin-left: -20px;
    }

    #xp-btn > h2{
        font-size: 2rem;
        font-weight: 700;
        margin: 0;
    }

    #xp-btn > h4{
        font-size: 1rem;
        font-weight: 400;
        margin: 0;
    }

    .love-card{
        padding: 25px;
        margin-top: 20px;
    }   

    .joy-image img{
        margin-left: 20px;
    }


    /* facts */

    .facts-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 40px;
    }

    .facts{
    padding: 50px 0px;
    }

    .fact-content{
    text-align: center;
    border: 1px solid tomato;
    border-radius: 8px;
    padding: 40px;
    }

    /* sponsors */

    .sponsors-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-self: center;
    }

    .sponsors-container > *:nth-last-child(1):nth-child(odd){
        grid-column: 1 / -1;
        justify-self: center;
    }

    /* footer */

    .footer{
        text-align: center;
        padding: 0px 30px;
        padding-bottom: 150px;
    }

    .footer h5{
        padding: 20px 0px;
        border-radius: 10px;
        font-size: 0.6rem;
    }

}
